name: Go
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi
      - name: Apt dependencies
        run: |
          sudo apt update && sudo apt install -y libusb-1.0-0-dev
      - name: Get & Make Phidgets22
        run: |
          wget https://www.phidgets.com/downloads/phidget22/libraries/linux/libphidget22.tar.gz
          tar zxvf libphidget22.tar.gz
          rm libphidget22.tar.gz
          cd libphidget22*
          ./configure --prefix=/usr && make -j$(nproc) && sudo make install
          cd ..

      - name: Build
        run: go build -v .
